<div class="all_wrapper">
<%=  link_to(image_tag("logo_pink.png", size:"120x49"), user_path(current_user), class: :logo) %>
	<!--  NAVBAR -->
	<nav class="all_nav">
		<ul>
			<li><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook-official"></i></a></li>
			<li><a href="http://www.soundcloud.com" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
			<li><a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
			<li><a href="http://www.tumblr.com" target="_blank"><i class="fa fa-tumblr"></i></a></li>
		</ul>
	</nav>
	
	<%= form_for @tape do |tape| %> 
		<div class="newtape">
				<h2><%= tape.text_field :tapename, class: :tape_form, :placeholder => "Tape Name (short)" %></h2><br><br>
				<h1 style="color: black ; text-transform: uppercase; font-size: 12px"> Add an image here </h1><br>
				<%= tape.file_field :tapepic, :placeholder => "Add an image" %><br><br>
				<h2><%= tape.text_area :description, id: :description, :placeholder => "Leave a message here. Please keep it under 250 characters" %></h2><br><br>
				
				<div id="songs">
					<br><br>
					<%= tape.submit 'Create Tape', class: :create_button %>
					<br><br>
					<%= link_to "Go Back" , user_path(current_user), :class => :create_button %>
					<br><br>
					<h2 style="color: black"><%= flash[:notape] if flash[:notape] %></h2>
				</div>
		</div>

	<% end %>
</div>
​
<div class="all_footer">
	<hr><br>
	<span class="copyright">&copy; Mixt</span>
</div>
​
