<div class="tape_page_wrapper">
	
	<%=  link_to(image_tag("logo_pink.png", size:"120x49"), user_path(current_user), class: :logo) %>

	<!--  NAVBAR -->
	<nav class="all_nav_tape">
		<ul>
			<li><a href=""><i class="fa fa-facebook-official"></i></a></li>
			<li><a href=""><i class="fa fa-soundcloud"></i></a></li>
			<li><a href=""><i class="fa fa-twitter"></i></a></li>
			<li><a href=""><i class="fa fa-tumblr"></i></a></li>
		</ul>
	</nav>
	
	<div id="add_song">
		<%= form_for([@tape, @tape.songs.create]) do |song| %>
		<!-- HOPEFULLY THIS WOULD WORK -->
			<%= song.file_field :song%><br>
			<%= song.submit 'ADD A SONG', :class => 'submit_button_small' %>
		<% end %> 

		<h2><%= flash[:notworking] if flash[:notworking] %></h2>
		<h2><%= flash[:heya] if flash[:heya] %></h2>
	 </div>

	<div id="tape_page_for_user">
		<h2><%= @tape.tapename %></h2>
		<hr>
	</div>

	<div class="tapes_avatar">
		<%= image_tag @tape.tapepic.url(:medium) %>
	</div>

	<div id="tape_player_controls">
		<% @tape.songs.each do |song| %>
		<h2><%= audio_tag(song.song_file_name, autoplay: false, controls: true, :class => :audiotags ) %></h2>
		<% end %>
	</div>
	<div id="tracklist_list">
			<ul id="listofsongs">
				<% @tape.songs.each do |song| %>
				   <li><h5><%= song.song_file_name %></h5></li>
				<% end %>
			</ul>
	</div>
	<br><br>
	<div id="message_block">
		<h3><%= @tape.description %></h3><br><br>

		<h3 style="text-align: center ; color: white ; display: inline"><%= link_to "Go Back" , user_path(current_user), :class => :create_button %></h3>
		<h3 style="text-align: center ; color: white ; display: inline"><%= link_to "Delete Tape", tape_path, data: { confirm: "are you sure? "}, method: :delete, class: :create_button %></h3>

	</div>
</div>

<!-- POPUP LINK -->
<div class="button_container" id="toggle">
	<h1>SHARE</h1>
	<br>
	<span class="top"></span>
  	<span class="middle"></span>
  	<span class="bottom"></span>
</div>

<div class="overlay" id="overlay">
  <div class="overlay-menu">
    <ul>
      <p>All set! Copy the following link<br>to share your mixtape</p>
      <br>
      <div id="link_tape_box">
	  <li><a href="" class="link_for_tape"><%= tape_url %></a></li></div>
      <br><br>
      <li><a href=""><i class="fa fa-facebook-official"></i></a></li>
      <li><a href=""><i class="fa fa-soundcloud"></i></a></li>
      <li><a href=""><i class="fa fa-twitter"></i></a></li>
      <li><a href=""><i class="fa fa-tumblr"></i></a></li>
    </ul>
  </div>
</div>



<!-- end of popup -->

<div class="tape_page_footer">
	<hr><br>
	<span class="copyright">&copy; Mixt</span>
</div>




