<%= form_for @user do |user| %>

	<p>first name<p><%= user.text_field :fname %> <br>
	<p>last name<p><%= user.text_field :lname %> <br>
	<p>create a username</p><%= user.text_field :username %> <br>
	<P>choose a password</p><%= user.password_field :password %> <br>
	<p>confirm password</p><%= user.password_field :password_confirmation %> <br>
	<p>profile pic</p><%= user.file_field :avatar %>
	<%= user.submit %>
	
<% end %>
