<!DOCTYPE html>
<html>
<head>
  <title>Mixt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>

<%= link_to "create a mixtape", new_user_tape_path(current_user) %>
<%= link_to "sign out", log_out_path, method: :delete %> 
<% else %>
<%= link_to "sign in?", log_in_path %>
<%= link_to "sign up?", new_user_path %>
<% end %>
	

<%= yield %>

</body>
</html>
